
# misc
.DS_Store
*.pem

.idea/*
*__pycache__/
env/
data/costs/*
data/prompts_dataset/*
data/postgresql/*
data/users/*
docs/openAPI/scripts
pgsql/patchs
*.env
*.conf
site/
.vscode/
venv/
*.egg-info
workdir/

workbook.ipynb
node_modules
.next