itsdangerous<2.0.1
flask==2.2.5
Flask-WTF==1.2.1
flask_restful==0.3.10
Flask-SQLAlchemy==3.1.1
requests==2.31.0
pandas==2.0.3
pyjwt==2.8.0
Jinja2==3.1.2
werkzeug==2.3.7
gunicorn==20.1.0
flask-socketio==5.3.3
gevent==23.9.1
gevent-websocket==0.10.1
pydantic==2.5.2
beautifulsoup4==4.12.2
pytz==2023.3.post1
python-dateutil==2.8.2
python-json-logger==2.0.7
cryptography==41.0.4
grequests==0.7.0
stripe==6.6.0
app-store-server-library==1.0.0
packaging==23.2