#sidebar {
    margin-top: 1;
    dock: left;
    width: 16;
    height: 100%;
    color: #0f2b41;
    background: black;
}

#task_list_execution_sidebar {
    dock: left;
    width: 60;
    height: 100%;
}



#grid-task {
    height: 100%;
    layout: grid;
    grid-size: 4;
    grid-columns: 1fr;
    grid-rows: 1fr;
    grid-gutter: 5;
    background: black;
    padding: 4;
}