
# Database & entities requirements
pgvector==0.2.4
sqlalchemy==2.0.31
psycopg2-binary==2.9.9

# LLM requirements
mistralai==0.3.0
openai==1.3.7
tiktoken==0.4.0
ollama==0.1.7
pillow==10.3.0

# Audio files processing requirements
pydub==0.25.1

# Timezone requirements
tzlocal==5.0.1

# Used for website parsing
bs4==0.0.1

# Used for email sending with aws
boto3==1.28.56

# Models loading
configparser==6.0.0

# TTS
azure-cognitiveservices-speech==1.32.1

# Google authentication and FirebasePushNotificationService
google-auth==2.23.0
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
google-api-python-client==2.101.0