itsdangerous<2.0.1
flask==2.2.5
Flask-WTF==1.2.1
flask_restful==0.3.10
Flask-SQLAlchemy==3.1.1
gevent==23.9.1
gevent-websocket==0.10.1
requests==2.31.0
pandas==2.0.3
Jinja2==3.1.2
werkzeug==2.3.7
gunicorn==20.1.0
eventlet==0.30.2
pydantic==2.5.2